@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');


body {
  font-family: 'Open Sans', sans-serif;  
}

h1,h2,h3,h4,h5,h6,a{
  color: #041735;
  font-family: 'Cabin', sans-serif;
  font-weight: 600;
}

.card-1{
  background-color: #f0f3ff;
}

.card-1:hover{
  background-color: #e9fffd;
  transition: .5s ease-in-out;
}
.card-2{
  background-color: #fff3f2;
}
.card-2:hover{
  background-color: #e9fffd;
  transition: .5s ease-in-out;
}
.card-3{
  background-color: #e9fffd;
}

.yo {
  display: inline;
  margin: 0 auto 20px 0;
}

.choi {
  font-weight: 600 !important;  
}

.yo1{
  font-size: 20px !important;
  padding: 30px 20px 30px 40px !important;
}
#buttonedit{
  transition: 0.3s !important;
  font-size: 0.938rem !important;
  padding: 1.313rem 1.125rem !important;
}

#buttonedit:hover{
  background-color: #041735 !important;
  color: #2845ba !important;
  border: 1px solid #2845ba !important;
}

.buttonedit2{
  transition: 0.3s !important;
  font-size: 15px !important;
  padding: 1.312rem 1.125rem !important;
}

.buttonedit2:hover{
  background-color: white!important;
  color: #041735 !important;
  border: 1px solid #041735 !important;
}
.buttonedit3{
  transition: 0.3s !important;
  font-size: 15px !important;
  padding: 1em 2em !important;
}

.buttonedit3:hover{
  background-color: white!important;
  color: #041735 !important;
  border: 1px solid #041735 !important;
}

.midm-b{
  margin-bottom: 3.75rem;
}
.midp-t{
  padding-top: 3.75rem !important;  
}
.midp-b{
  padding-bottom: 3.75rem !important;  
}

.midp-up{
  padding: 5rem 0;
}

.yokoso{
  padding: 20px 10px 21px 34px !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}
.down{
  margin-bottom: 8px !important;
}
    
.icon{
  margin-bottom: 50px !important;
}

.cardbody-edit{
  padding: 60px 20px !important;
}
.formedit{
  padding: 9px 33px 9px 24px !important;
}

.comic-border {
  background-color: white;
  border: 1px solid #f0f3ff;
  border-radius: 10px;
  position: relative;  
}

.comic-border::before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 0;
  border-color: transparent #f0f3ff transparent transparent;
}

/* .lol{
  background-image: url("../img/Untitled-3.png");
  display: flex;
  align-items: flex-end;
  padding: 3rem;
  flex-direction: column;
  background-color: rgba(24, 23, 23, 0.119);
  position: relative;
}
.lol2{
  background-image: url("../img/Untitled-2.png");
  display: flex;
  align-items: flex-end;
  padding: 3rem;
  flex-direction: column;
  background-color: rgba(24, 23, 23, 0.119);
  position: relative;
}
.lol3{
  background-image: url("../img/Untitled-1.png");
  background-size: contain;
  display: flex;
  align-items: flex-end;
  padding: 3rem;
  flex-direction: column;
  background-color: rgba(24, 23, 23, 0.119);
  position: relative;
} */

.bo{
  margin-bottom: 15px;
}
@media (max-width: 567px) {
  .secud{
    padding: 70px 0;
  }
  .secd{
    padding-bottom: 70px;
  }
  .secu{
    padding-top: 70px;
  }
  .reduceh2{
    font-size: 24px !important;
  }
  .subi{
    font-size: 18px !important;
  }
  .edith1{
    font-size: 34px !important;
  }
  .incre{
    font-size: 40px;
  }
  .yo1{
    font-size: 15px !important;
    padding: 30px 20px 30px 40px !important;
  }
}


@media(max-width: 768px) {    
  .nodisplay {
    display: none !important;
  }
  .secud{
    padding: 70px 0;
  }
  .secd{
    padding-bottom: 70px;
  }
  .secu{
    padding-top: 70px;
  }
  .reduceh2{
    font-size: 24px !important;
  }
  .subi{
    font-size: 18px !important;
  }
  .edith1{
    font-size: 34px !important;
  }
}

@media(min-width: 992px) {
  .bigp-t{
    padding-top: 7.5em !important;  
  }
  .bigp-b{
    padding-bottom: 7.5em !important;  
  }
}